{% extends "blog/base.html" %}
{% block title %}
  <title>About | Blog</title>
{% endblock title %}
{% block body %}
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a quaerat quasi, debitis minima ad, ut dolore eius voluptatum sequi consectetur vero atque cumque odit, aperiam quam tempore accusamus consequatur.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nisi neque dignissimos optio, eveniet dolor accusamus illum pariatur, nobis libero suscipit, amet nihil temporibus? Laboriosam hic optio culpa dolorem sit!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cupiditate aliquam, porro accusamus suscipit nobis delectus quidem ex, atque animi consequatur incidunt quo odit? Odit dicta ea cupiditate accusantium expedita.</p>
{% endblock body %}
